:root {
  --color-blue: #1A7DF0;
  --color-white: #ffffff;
  --color-yellow: #FFE711;
  --color-blue0dark: #005BC5;
  --color-black: #333333;
  $font-family: 'raleway';

  $breakpoint-xs: 480px;
  $breakpoint-sm: 576px;
  $breakpoint-md: 768px;
  $breakpoint-lg: 992px;
  $breakpoint-xl: 1200px;
}